[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
holoviews = "==1.20.0"
pandas = "==2.2.3"
networkx = "==3.4.2"
class-argparse = "==0.1.3"
openpyxl = "==3.1.5"
matplotlib = "==3.10.0"
plotly = "==6.0.0"
kaleido = "==0.2.1"
seaborn = "==0.13.2"
scikit-image = "*"
datashader = "==0.17.0"
dask = "==2025.1.0"
pygraphviz = "==1.14"
circlify = "==0.15.0"

[dev-packages]
black = "==22.10.0"
flake8 = "==6.0.0"
pylint = "==2.17.4"

[requires]
python_version = "3.10"
